body * {
    font-family: "Roboto Condensed" !important;
    font-weight: 400 !important;
}

* {
    outline: none;
}

.wrapper {
    margin-top: 30px;
}

.uk-h2 {
    margin: 0;
}

.uk-h3 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300 !important;
}

.uk-h4 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300 !important;
    font-size: 18px;
}

.uk-h5 {
    margin-bottom: 0;
}

.tab-content {
    padding: 10px;
    padding-top: 0;
}

.tab-content p {
    line-height: 32px;
}

pre code {
    font-family: Consolas, monaco, monospace !important;
}

.demo .uk-card-body {
    padding: 20px;
}

.demo .log {
    margin-top: 20px;
    border : 1px solid rgb(240,240,240);
    height : 240px;
    overflow-y: scroll;
    padding: 8px 15px;
}

.demo .uk-progress {
    margin: 0;
    margin-top: 20px;
}

.demo .uk-table {
    margin: 15px 0;
}

.icon-off {
    color : #ddd;
}

.icon-on {
    color : #f5b82e;
}